{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %} {{ _('Envío de instrucciones para cambio de contraseña') }} {% endblock %}

{% block mycontent %}

    <h1>{{ _('Envío de instrucciones para cambio de contraseña') }}</h1>
    <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
      {{ forgot_password_form.hidden_tag() }}
      {{ render_field_with_errors("Correo Electrónico", forgot_password_form.email, class="form-control", placeholder="ejemplo@correo.com") }} 
      {{ render_field(forgot_password_form.submit, class="btn btn-primary", value="Envíar") }}
    </form>

{% endblock mycontent %}
