{% extends "layout.html" %}

{% block body %}

    {% include "navbar.html" %}

    {% block title %} {{ _('Notificación de cambio') }} {% endblock %}

    {% block content %}

        <div class="container">

            <p>{{ _('Su clave ha sido cambiada') }}</p>
            {% if security.recoverable %}
            <p>{{ _('Sí usted no ha cambiado su clave, ') }} <a href="{{ url_for_security('forgot_password', _external=True) }}">{{ _('dele click aquí para restaurarla') }}</a>.</p>
            {% endif %}

        </div>

    {% endblock content %}

{% endblock body%}
